body {
    font-family: sans-serif;
    margin: 0;
  }
  
  a {
    text-decoration: none;
    font-weight: bold;
    text-decoration-color: #f8f8f8;
  }
  
  a:visited {
    color: #f8f8f8;
  }
  
  button:hover {
    background-color: #abd2e9 !important;
    color: #000000 !important;
  }
  
  nav .container {
    display: flex;
    align-items: center;
  }
  
  nav .logo {
    margin-right: auto;
  }
  
  nav .logo img {
    height: 80px;
  }
  
  nav {
    background: linear-gradient(to left, #0a089c, #6296f5);
    padding: 10px 0;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
  }
  
  nav li {
    margin-left: 30px;
  }
  
  nav a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  header {
    background-size: cover;
    color: rgb(17, 17, 17);
    text-align: center;
    padding: 100px 0;
    background-color: rgba(255, 255, 255, 0.5);
    background-image: url("content/images/Researcher\ working.png");
    position: relative;
  }
  
  header .container {
    position: relative;
    z-index: 1;
    padding-top: 100px;
  }
  
  .features {
    background-color: white;
    padding: 80px 0;
    position: relative;
    z-index: 1;
  }
  
  .feature-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 40px;
  }
  
  .feature img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
  
  .testimonial-slider {
    position: relative;
    overflow: hidden;
  }
  
  .testimonial-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .testimonial {
    flex: 0 0 100%;
    text-align: center;
    color: #05455e;
    text-decoration-style: wavy;
    font-weight: bold;
  }
  
  .testimonials h2 {
    text-align: center;
  }
  
  .call-to-action {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 60px 0;
  }
  
  button {
    background-color: #007bff;
    color: rgb(255, 255, 255);
    border: none;
    padding: 15px 30px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
  }
  
  .get-started {
    padding: 80px 0;
  }
  
  .get-started .container {
    display: flex;
    align-items: center;
  }
  
  .get-started .image-container {
    flex: 1;
    margin-right: 40px;
  }
  
  .get-started .image-container img {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }
  
  .get-started .form-container {
    flex: 1;
  }
  
  footer {
    background-color: #333;
    color: white;
    padding: 40px 0;
  }
  
  .footer-columns {
    display: flex;
    justify-content: space-between;
  }
  
  .column {
    flex: 1;
    margin: 0 20px;
  }
  
  .column h3 {
    margin-bottom: 20px;
  }
  
  .column ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .column li {
    margin-bottom: 10px;
  }
  
  .column a {
    color: white;
    text-decoration: none;
  }
  
  .footer-bottom {
    text-align: center;
    margin-top: 40px;
  }
  
  footer input[type="email"] {
    width: calc(100% - 100px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  footer button[type="submit"] {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .form-row .form-group {
    flex: 1;
    margin-right: 20px;
  }
  
  .form-row .form-group:last-child {
    margin-right: 0;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  button[type="submit"] {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
  }
  
  .popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  }
  
  .popup.show {
    opacity: 1;
    transform: scale(1);
  }
  
  .popup-content {
    background-color: #007bff;
    color: white;
    margin: 15% auto;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 400px;
    position: relative;
  }
  
  .popup-content .logo {
    display: block;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .popup-content button[type="submit"] {
    background-color: white;
    color: #007bff;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
  }
  
  .popup-content .logo img {
    height: 120px;
  }
  
  .close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.dashboard {
  padding: 80px 0; 
}

.welcome {
  text-align: center;
  margin-bottom: 40px;
}

.welcome h2 {
  font-size: 36px; 
  margin-bottom: 10px;
}

.overview {
  display: flex;
  justify-content: space-around;
  margin-bottom: 60px;
}

.card {
  background-color: #e0f2f1; 
  color: #333; 
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  flex: 0 0 calc(33.33% - 40px); 
  transition: background-color 0.3s ease, color 0.3s ease; 
  margin: 10px;
}

.card:hover {
  background-color: #007bff; 
  color: white; 
  cursor: pointer; 
}

.my-papers h2 {
  font-size: 30px; 
  margin-bottom: 30px;
}

.paper-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
}

.paper {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.paper h4 {
  margin-bottom: 10px;
}

.paper p {
  margin: 5px 0;
}

.paper button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.section-header .icon-container {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  margin-bottom: 10px; 
}

.dashboard {
  padding: 40px 0;
}

.review-papers h2 {
  margin-bottom: 20px;
}

.search-filters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.search-filters input,
.search-filters select {
  padding: 10px;
  border: 1px solid #ced4da;
  border-radius: 20px;
  margin: 10px;
}

.search-filters input {
  flex-grow: 1;
  margin-right: 15px;
}

.paper-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
  gap: 20px;
}

.search-button-container {
  display: flex; 
  justify-content: center;
  margin-top: 20px; 
}